/* Style the tab */
.tabcontent {
    display: none;
}

/* Style the buttons */
.tablinks {
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

/* Change background color of active tab */
.tablinks.active {
    background-color: #ddd;
}

/*
body{
    background-color: cornflowerblue;
}

h1{
    font-family: "Georgia", Serif;
    font-size:75px;
    text-align:center;
    text-decoration: underline;
}
h2{
    font-family: "Georgia", Serif;
    font-size:45px;
    color: #333333;
    text-align:center;
    text-decoration: underline;
    transform: translateY(-60px);
}
h3{
    font-family: "Georgia", Serif;
    font-size:40px;
    color: #333333;
    text-align:center;
    transform: translateY(-30px);
}
h4{
    font-family: "Georgia", Serif;
    font-size:40px;
    color: #333333;
    text-align:left;

}
h5{
    font-family: "Georgia", Serif;
    font-size:40px;
    color: #333333;
    text-align:right;

}
p{
    font-family: "Georgia", Serif;
    font-size:30px;
    color: #333333;
    
}
button{
    font-family: "Georgia", Serif;
    font-size:20px;
    color: LightSlateGray;
    text-align:center;
    background-color: azure;
}

@keyframes leftToRight{
    from {text-align:right;}
    to {text-align:left;}
}

.tab{
    text-align:center;
    transform: translateY(-60px);
}

.content{
    border-top: 6px solid #333333;
    border-bottom: 6px solid #333333;
    border-radius:10px;
    width:60%;
    margin:auto;
}





